* {
    box-sizing: border-box;
}

header, footer{
    border: 1px solid black;
    height: 100px;
    clear: both;
}
section {
    float: left;
    border: 1px solid black;
 }

.sect1 > section {
    height: 150px;
    width: 33.33%;
}

.sect2 > section {
    height: 200px;
    width: 50%;
}

@media screen and (max-width: 200px) {
    section {
        background: blue;
    }
}

@media screen and (max-width: 800px) {
    section {
        background: blue;
    }
}

@media screen and (max-width: 1000px) {
    section {
        background: blue;
    }
}

