<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<nav>
			<img src="#" alt="none">
			<section>
				<ul>
					<li>wefo</li>
					<li>wefo</li>
					<li>wefo</li>
					<li>wefo</li>
					<li>wefo</li>
					<li>wefo</li>
				</ul>
				<img src="#" alt="cart">
				<img src="#" alt="glass">
			</section>
		</nav>
		<main>
			<h1>Lorem ipsum dolor sit amet.</h1>
			<form action="">
				<input type="text" placeholder="search">
				<input type="submit">
			</form>				
			<section>
					<section>
						<img src="#" alt="img">
						<span>lorem</span>
					</section>
					<section>
						<img src="#" alt="img">
						<span>lorem</span>
					</section>
					<section>
						<img src="#" alt="img">
						<span>lorem</span>
					</section>
			</section>
		</main>
		<article>
			<h3>Lorem, ipsum.</h3>
			<h2>Lorem ipsum dolor sit.</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat suscipit ipsum officia fugiat, voluptatum exercitationem facilis voluptatibus praesentium perspiciatis laudantium quia labore! Praesentium harum nam sint tempore temporibus inventore eligendi?
			Laborum in tenetur quasi velit, earum aliquam deleniti vitae debitis omnis numquam totam delectus unde maxime ab magni accusantium? Voluptatibus consectetur autem asperiores nisi doloribus hic repellendus consequuntur aut odio.</p>
			<input type="submit">
		</article>
		<section>
			<h3>Lorem, ipsum dolor.</h3>
			<h2>Lorem, ipsum dolor.</h2>
			<ul>
				<li>lorem</li>
				<li>lorem</li>
				<li>lorem</li>
				<li>lorem</li>
				<li>lorem</li>
			</ul>
			<section>
				<img src="#" alt="food">
				<h4>lorem</h4>
				<img src="#" alt="stars">
				<input type="submit">
			</section>
			<section>
				<img src="#" alt="food">
				<h4>lorem</h4>
				<img src="#" alt="stars">
				<input type="submit">
			</section>
			<section>
				<img src="#" alt="food">
				<h4>lorem</h4>
				<img src="#" alt="stars">
				<input type="submit">
			</section>
			<section>
				<img src="#" alt="food">
				<h4>lorem</h4>
				<img src="#" alt="stars">
				<input type="submit">
			</section>
			<section>
				<img src="#" alt="food">
				<h4>lorem</h4>
				<img src="#" alt="stars">
				<input type="submit">
			</section>
			<section>
				<img src="#" alt="food">
				<h4>lorem</h4>
				<img src="#" alt="stars">
				<input type="submit">
			</section>
			<section>
				<img src="#" alt="food">
				<h4>lorem</h4>
				<img src="#" alt="stars">
				<input type="submit">
			</section>
			<section>
				<img src="#" alt="food">
				<h4>lorem</h4>
				<img src="#" alt="stars">
				<input type="submit">
			</section>
			<section>
				<img src="#" alt="food">
				<h4>lorem</h4>
				<img src="#" alt="stars">
				<input type="submit">
			</section>
		</section>
		<section>
			<h3>lorem</h3>
			<h2>Lorem, ipsum.</h2>
			<img src="#" alt="phone">
			<span>number</span>
			<section>
				<section>
					<span>Lorem, ipsum dolor.</span>
					<span>Lorem, ipsum dolor.</span>
				</section>
				<section>
					<span>Lorem, ipsum dolor.</span>
					<span>Lorem, ipsum dolor.</span>
				</section>
			</section>
			<img src="#" alt="fruitbowl">
		</section>
		<section>
			<h3>lorem</h3>
			<h2>Lorem, ipsum.</h2>
			<img src="#" alt="john smith">
			<h3>name</h3>
			<span>title</span>
			<img src="#" alt="stars">
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At, quam quidem possimus consequuntur mollitia quis inventore quos! Architecto quibusdam autem incidunt sunt, mollitia ut, cupiditate iste excepturi labore error ipsa.</p>
			<img src="#" alt="dots">
		</section>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
