/* Complete the CSS styling according to the provided design */

body {
    background-image: url('img/cards.jpg');
    background-color: #016f32;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin: auto;
}

#box {
    position: center;
    margin: auto;
}

#box2 {
    background-color: #016f32;
    margin: 30px;
    padding: 10px 0 40px 0;
    border-radius: 10px;
    border-color: #016f32;

}

h1 {
    color: goldenrod;
    transform: uppercase;
    font-size: 72px;
    text-shadow: 2px 2px rgb(109, 18, 18);
}

#message-el {
    font-style: italic;
}

#message-el:hover {
    color: rgb(109, 18, 18);
}

button {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    padding: 7px 10px;
    margin: 5px;
    border-radius: 10px;
    border-color: rgb(109, 18, 18);
    border-style: solid;
    border-width: 1px;
}

button:hover {
    background-color: rgb(109, 18, 18);
    color:antiquewhite;
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0  6px 3px 0  rgb(2, 66, 11);
    transform: translateY(4px);
}
